*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorTitulos:rgb(18, 23, 87);
    --colorTextos:rgb(92, 90, 90);
    --colorBotones:rgb(73, 22, 22);
    --colorFondos:rgb(178, 120, 245);
    --paddingSecciones:60px 0;
    --marginElementos:40px;
}

body{
    font-family: 'Poppins';
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingSecciones);
}

/*----------------------------------  Menu -----------------------------*/
.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo{
    height: 80px;
}

.logo img{
    display: block;
    height: 100%;
}

.enlaces li{
    list-style: none;
    display: inline-block;
}

.enlaces a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

/*------------------------------HERO-------------------*/

.hero{
    height: 500px;
    background-image: url("../imagenes/camion.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.boton{
    width: 100px;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    background: var(--colorBotones);
    color: white;
    opacity: 0.9;
    border-radius: 20px;
    text-decoration: none;
}

/* -------------------------- main ------------------------- */

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: var(--colorTitulos);
}

.copy{
    text-align: center;
    color: var(--colorTextos);
    margin: 20px 0;
}

.beneficios{
    padding-top: var(--marginElementos);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beneficio{
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(../imagenes/beneficio.webp);
    background-size: cover;
    background-position: center;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    clip-path: circle(100px);
    transition: all .5s;
}

.beneficio:hover{
    clip-path: circle(70px);
    
}

/*---------------------proyects------------------------*/

.proyects{
    background: rgb(236, 236, 236);
}

.contenedor-imagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-imagenes img{
    display: block;
    width: 30%;
    box-shadow: 0 0 8px rgb(41, 41, 41, .6);
    margin-bottom: var(--marginElementos);
}

/*-------------------footer----------------------------*/
footer .contenedor{
    padding: 10px 20px;
}

footer .titulo-seccion{
    color: var(--colorTitulos);
}

.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales i{
    font-size: 30px;
    padding: 0 20px;
    color: var(--colorTitulos);
}

.contenedor2 .copy{
    font-size: 12px;
}

/*--------------------------------------------------*/

@media screen and (max-width:800px){
    .menu-navegacion{
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }
    .hero h1{
        font-size: 30px;
        margin-top: 50px;
    }
    .hero p{
        font-size: 14px;
        font-weight: 400;
    }
    .boton{
        margin-bottom: 50px;
    }
    .beneficio{
        margin-bottom: 40px;
    }
    .contenedor-imagenes img{
        width: 90%;
    }
    .copy{
        margin-bottom: 40px;
    }
}